name: test-web-release

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.19
      - name: Configure tests preset
        run: cmake --preset web-release-tests
      - name: Build tests
        run: cmake --build --preset web-release-tests
      - name: Run tests
        run: ctest --preset web-release-tests --output-on-failure
      - name: Configure sandbox preset
        run: cmake --preset web-release
      - name: Build sandbox preset
        run: cmake --build --preset web-release
